footer {
  min-height: 236px;
  padding-top: 10px;
  .container {
    padding-top: 37px;
    span {
      color: @col-red;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      a {
        color: @col-red;
        &:hover {
          color: red;
        }
      }
    }
    a {
      color: @spantext-col;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      &:hover {
        color: @ptext-col;
      }
    }
    i {
      margin-right: 8px;
    }
  }
}