main {
  background-color: @main-bg;
  min-height: 768px;
  span {
    color: @spantext-col;
    display: block;
    font-family: 'Fjalla One', sans-serif;
    font-size: 17px;
    margin-top: 5px;
  }
  &>.list-inline {
    margin-left: 0;
  }
  #top-content {
    background-color: @col-white;
    margin-bottom: 55px;
    margin-left: 0;
    min-height: 175px;
    li{
      background: url("../images/main-top-verline.jpg") no-repeat;
      height: 100%;
      padding-top: 30px;
      &:first-child {
        background-image: none;
      }
    }
    span {
      color: @spantext-col;
    }
    h4 {
      color: @col-red;
      font-family: 'Fjalla One', sans-serif;
      font-size: 17px;
      margin-top: 5px;
    }
    p {
      color: @ptext-col;
      font-family: 'Oxygen', sans-serif;
      font-size: 13px;
      margin-top: 0;
      &>:hover {
        color: @spantext-col;
      }
    }
  }
}

article {
  .left-cont {
    padding-left: 0;
    padding-right: 28px;
    .panel {
      margin-bottom: 28px;
    }
    .panel-body {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
    }
    img {
      margin-top: 20px;
    }
    .img-quadro {
      display: block;
      margin-top: 20px;
      img {
        margin-top: 0;
        padding: 5px;
      }
    }
    p {
      color: @ptext-col;
      font-family: 'Oxygen', sans-serif;
      font-size: 13px;
      padding-top: 20px;
    }
    .panel-footer {
      background-color: @col-red;
      padding-bottom: 20px;
      padding-top: 20px;
      a {
        color: @col-white;
        font-family: 'Fjalla One', sans-serif;
        font-size: 13px;
        &:hover {
          color: @col-text-slider;
        }
      }
    }
  }
}
aside {
  .panel {
    margin-bottom: 28px;
  }
  form {
    margin-top: 18px;
  }
  .form-control {
    background-color: @main-bg;
    border: 1px solid @main-bg;
  }
  .btn-default {
    background-color: @main-bg;
    border: 1px solid @main-bg;
  }
  button {
    span {
      color: @col-red;
    }
  }
  p {
    color: @ptext-col;
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    padding-top: 5px;
    &:hover {
      color: @spantext-col;
    }
  }
  a {
    &:hover {
      color: @spantext-col;
    }
    i {
      color: @col-red;
    }
  }
  .panel-line {
    border-bottom: 1px solid @main-bg;
    &:last-child {
      border-bottom: none;
    }
  }
  p {
    margin-top: 5px;
  }
  .fa-border {
    border: solid #f0f0f0 .2em;
    border-radius: .2em;
    padding: .5em .5em .6em;
  }
  i {
    color: @spantext-col;
  }
  h6 {
    color: @col-red;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
    margin-top: 20px;
  }
}