@media screen and (min-width: 768px){
  #carousel-example-generic {
    .carousel-inner {
      .thumbnail {
        height: 288px;
      }
    }
  }
}

@media screen and (min-width:992px){
  #carousel-example-generic {
    .carousel-inner {
      .thumbnail {
        height: 371px;
      }
    }
  }
}

@media screen and (min-width: 1200px){
  #carousel-example-generic {
    .carousel-inner {
      .thumbnail {
        height: 446px;
      }
    }
  }
}