body.archive {
  header {
    padding-bottom: 40px;
  }
  main {
    padding-top: 40px;
    article {
      .panel-body {
        min-height: 600px;
        padding-bottom: 40px;
      }
    }
  }
  footer {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px){
  body.archive {
    main {
      article {
        .row {
          .left-cont {
            padding: 0 !important;
          }
        }
      }
    }
  }
}