header {
  font-family: 'Fjalla One', sans-serif;
  padding-top: 60px;
  .container-fluid {
    padding: 0;
  }
  .navbar {
    background-color: @nav-top-bg;
    border-radius: 0;
    .navbar-nav {
      &>li {
        &>a {
          color: @col-white;
          text-transform: uppercase;
          &:hover {
            background-color: @nav-top-bg-active;
            color: @col-red;
          }
        }
      }
      &>li.active {

        &>a {
          background-color: @nav-top-bg-active;
          color: @col-red;
        }
        &>a:hover {
          background-color: @nav-top-bg-active;
          color: @col-red;
        }
      }
    }
    .container{
      background-color: @nav-top-bg;
      position: relative;
    }
    #logo {
      background-color: @col-red;
      border-radius: 5px;
      height: 82px;
      left: 0;
      position: absolute;
      padding: 0 22px 0 22px;
      top: -15px;
      min-width: 100px;
      a {
        color: @col-white;
        font-family: 'Fjalla One', sans-serif;
        font-size: 44px;
        line-height: 82px;
        margin: 0;
        text-decoration: none;
      }
    }
  }
  #carousel-example-generic {
    background-color: #ffffff;
    margin-top: 60px;
    padding: 20px 20px 0 20px;
  }
  .carousel-control{
    background-image: none;
    height: 100px;
    opacity: 1;
    top: 40%;
    width: 60px;
    &.left {
      background: none !important;
      span {
        background-color: @col-white;
        border-radius: 0 5px 5px 0;
        height: 48px;
        line-height: 48px;
        width: 50%;
        &:hover {
          color: @spantext-col;
        }
      }
    }
    &.right {
      background: none !important;
      span {
        background-color: @col-white;
        border-radius: 5px 0 0 5px;
        height: 48px;
        line-height: 48px;
        width: 50%;
        &:hover {
          color: @spantext-col;
        }
      }
    }
    &:hover {
      opacity: 1;
    }
  }
  .carousel-inner {
    .thumbnail {
      border: none;
      border-radius: 4px 4px 0 0;
      margin: 0;
      width: 100%;
    }
    .carousel-caption {
      text-shadow: none;
      .fa-5x {
        color: @col-text-slider;
        font-size: 8em;
      }
      h1 {
        color: @col-text-slider;
        font-family: 'Fjalla One', sans-serif;
        font-size: 64px;
      }
      p {
        color: @col-text-slider;
        font-family: 'Fjalla One', sans-serif;
        font-size: 22px;
      }
      button {
        background-color: transparent;
        border: 3px solid @col-text-slider;
        color: @col-text-slider;
        font-family: 'Fjalla One', sans-serif;
        font-size: 18px;
        &:hover {
          border: 3px solid @spantext-col;
          color: @spantext-col;
        }
      }
    }
  }
}



