/*fonts*/
@font-family: 'Fjalla One', sans-serif;
@font-family: 'Oxygen', sans-serif;
@font-family: 'Open Sans', sans-serif;

/*baground*/
@nav-top-bg: #383838;
@nav-top-bg-active: #2a2a2a;
@main-bg: #f0f0f0;

/*color*/
@col-red: #f85c5e;
@col-white: #fff;
@col-text-slider: #efdbc1;

/*text-color*/
@spantext-col: #747474;
@ptext-col: #979797;
